:root {
  --bg: #282726;
  --text-primary: #f9f4da;
  --text-secondary: #8e8e8e;
}
main {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.heading {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0;
}
.title {
  color: var(--text-secondary);
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  padding: 8px 0 24px 0;
}
.game-status {
  border: 2px dashed #323232;
  color: var(--text-primary);
  background-color: #7a5ea7;
  padding: 20px 0;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}
.language-list > ul {
  padding: 20px 0;
  justify-content: center;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 350px;
  gap: 4px;
}

.language-list li {
  position: relative;
  /* overflow: hidden; */
  border-radius: 3px;
  padding: 6px;
  font-weight: 700;
  font-size: 0.875rem;
}
.skull {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.eliminated {
  opacity: 0.35;
}
.word-box {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.word-divs {
  box-sizing: border-box;
  width: 38px;
  aspect-ratio: 1;
  background-color: #323232;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  padding: 8px;
}
.keyboard {
  padding-top: 40px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.keyboard button {
  width: 38px;
  color: #1e1e1e;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  aspect-ratio: 1;
  padding: 6px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0;
  cursor: pointer;
}
.correct {
  background-color: #10a95b;
}
.incorrect {
  background-color: #ec5d49;
}
.default {
  background-color: #fcba29;
}
@media (min-width: 947px) {
  .keyboard button {
    padding: 14px;
    font-size: 1.2rem;
  }
  .title {
    padding-bottom: 10px;
  }
  .language-list > ul {
    padding: 20px 0;
  }
  .word-box {
    gap: 6px;
  }
  .word-divs {
    width: 40px;
    padding: 6px;
    font-size: 1.5rem;
  }
  .keyboard {
    padding-top: 38px;
  }
  .keyboard button {
    width: 40px;
    border-radius: 4px;
    padding: 6px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
