:root {
  --bg: #282726;
  --text-primary: #f9f4da;
  --text-secondary: #8e8e8e;
}
main {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.heading {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0;
}
.title {
  color: var(--text-secondary);
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  padding-bottom: 10px;
}
.game-status {
  color: var(--text-primary);
  background-color: #7a5ea7;
  padding: 20px 0;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}
.language-list > ul {
  padding: 10px 0;
  justify-content: center;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 350px;
  gap: 4px;
}

.language-list li {
  border-radius: 3px;
  padding: 6px;
  font-weight: 700;
  font-size: 0.875rem;
}
.word-box {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 2px;
}
.word-divs {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1;
  background-color: #323232;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center;
  padding: 14px 8px;
}
